-
  const tagPalette = ['#49B1F5', '#00C4B6', '#6F42C1', '#F0AD4E', '#FF7242', '#5CB85C', '#FF69B4', '#428BCA', '#E83E8C', '#20C997']
  const tagsArr = site.tags.toArray().sort((a, b) => b.length - a.length)

.tag-cloud-list.text-center
  each tag, i in tagsArr
    a.tag-cloud-item(href=url_for(tag.path) title=`${tag.name} · ${tag.length}` style=`--c:${tagPalette[i % tagPalette.length]}`)
      span.tag-cloud-name= tag.name
      span.tag-cloud-count= tag.length
